body {
  margin: 0;
  background-color: #4c4d62;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiToolbar-root {
  background-color: #383838!important;
}

.flip-card {
  margin: 10px;
  background-color: transparent;
  width: 350px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #768b69;
  color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: #6cadc9;
  color: white;
  transform: rotateY(180deg);
}

.profileStyles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
}

.h3style {
  text-align: center;
}
.h2style {
  text-align: center;
}


@media only screen and (min-width: 900px){
  .card {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
.flip-card {
  width: 100%;
}

  }
}


.App {
  font-family: sans-serif;
  text-align: center;
}
.cursor {
  display: inline-block;
  position: relative;
}
.cursor::after {
  content: "";
  margin: auto;
  position: absolute;
  right: -4px;
  top: -3px;
  width: 1px;
  height: 100%;
  background-color: #666;
  animation: cursor-animation 1.5s step-end infinite;
}
@keyframes cursor-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
